dist: trusty

language: php

php:
  - 7.2
  - 7.3
  - 7.4

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source

script:
    - phpunit --coverage-text --coverage-clover=coverage.clover

before_install:
  - pip install --user codecov
after_success:
  - codecov
